APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:dXyPNkBAhStO8v7IwrWGoRVGL3hHcfrNqW/bGlP3dp0=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_STORE=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
